html {
  height: 100%;
}

body {
  color: white;
  height: inherit;
  font-family: 'Open sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2 {
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 10px;
}

input:focus, button:focus {
  outline: none;
}

.item {
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

text {
  transform: translateX(165px) rotate(90deg);
  font-size: 32px;
  fill: white;
}

.circle-animation {
  stroke-dasharray: 1257; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 1257;
  transition: all 1s linear;
}

.settings {
  background-image: url(../img/settings.png);
  background-size: cover;
  width: 45px;
  height: 37.5px;
  position: relative;
}

.blocklist {
  background-image: url(../img/blocklist.png);
  background-size: cover;
  width: 36px;
  height: 36px;
  position: relative;
}

.tasks {
  background-image: url(../img/tasks.png);
  background-size: cover;
  width: 37.5px;
  height: 37.5px;
  position: relative;
}

.hide {
  display: none;
}

#task-list-container {
  /*display: none;*/
  border: 1px solid whitesmoke;
  width: 150px;
  position: absolute;
  /*top: 50px;*/
  background: white;
  color: gray;
  max-height: 200px;
  overflow-y: auto;
}

#settings-container {
  /*display: none;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

#blocklist-container {
  overflow-y: auto;
  font-size: 16px;
}

.save-new-task {
  cursor: pointer;
  width: 100%;
  color: #5CBC9E;
  border: 2px solid #5CBC9E;
  background: white;
  padding: 0;
}

.save-settings {
  cursor: pointer;
  color: white;
  border: 2px solid #5CBC9E;
  background: #5CBC9E;
  padding: 0;
  margin: 10px 10px 10px 10px;
}

.new-task {
  width: 100%;
  padding: 0;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
}

.new-task-input {
  margin-left: 2px;
  margin-right: 2px;
}

.setting-input {
  width: 50px;
  text-align: center;
  margin-right: 20px;
}

label {
  display: inline-block;
  width: 150px;
}

.progress {
  background-image: url(../img/progress.png);
  background-size: cover;
  width: 37.5px;
  height: 35px;
}

.play-btn {
  background-image: url(../img/play.png);
  background-size: cover;
  width: 37.5px;
  height: 35px;
  align-self: center;
  cursor: pointer;
}

.pause-btn {
  background-image: url(../img/pause.png);
  background-size: cover;
  width: 37.5px;
  height: 35px;
  align-self: center;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icon  {
  cursor: pointer;
  margin-right: 15px;
}

.timer-container {
  display: flex;
  justify-content: center;
}

#completed-rounds {
  margin: 10px 10px 10px 25px;
}

.menu-title {
  text-align: center;
  margin: 0;
}

input.new-blocklist-site {
  width: 80%;
}

.add-new-site {
  cursor: pointer;
  width: 15%;
  color: white;
  border: 2px solid #5CBC9E;
  background: #5CBC9E;
  padding: 0;
}

.site-item {
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.remove-site-btn {
  cursor: pointer;
  background: white;
  color: #ec5e54;
  border: 1px solid #ec5e54;
}

.remove-site-btn:hover {
  background: #ec5e54;
  color: white;
}

.lh-icons {
  display: flex;
}

/*
@keyframes all {
  0% {
    stroke-dashoffset: 440;
  }
  100% {
    stroke-dashoffset: 0;
  }
}*/
